language: python
sudo: false
python:
  - "2.7"
virtualenv:
    system_site_packages: true
env:
  global:
    - secure: "L2ja+ZnV83w4qG3E8FwTjm0D6IWNOnj5wuFOjYTwbzQP4OAgLAWBzCMtxzWy5sMxFLtRgkswBH1d5f5kg8Ab7GIyAMFgQwe8UFqMJ+N05QNszE1mJkAvJtv2XN7669XXQhTt5EXfHrCcGZaODVnI2CEA8GB5DxiHO2Lcqf/xvgE="
addons:
  apt:
    packages:
    - git

before_install:
  # Set up anaconda
  - wget http://repo.continuum.io/miniconda/Miniconda-2.2.2-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  # Update conda itself
  - conda update --yes conda

install:
  # Install the RMG binaries currently on anaconda.org
  - conda install -c rmg -y rmg rmgdatabase

script: 
  # Run minimal example
  - rmg.py examples/rmg/minimal/input.py
  - make mopac_travis
  #- rmg.py examples/rmg/1,3-hexadiene/input.py
  #- rmg.py examples/rmg/liquid_phase/input.py
  - scripts/thermoEstimator.py examples/thermoEstimator/input.py
  - rmg.py examples/rmg/heptane-eg5/input.py
  - rmg.py examples/rmg/ethane-oxidation/input.py
  - rmg.py examples/rmg/gri_mech_rxn_lib/input.py
